{% extends 'base.html' %}


{% block content %}

     <div style="border-radius:  1rem; margin: 2rem; text-align: center">
        <h1 >list</h1>


     <form action="/account/test/" method="post">
         {% csrf_token %}
         <div>
             <input type="text" name="hello_input">
         </div>
         <div>
            <input type="submit" class="btn btn-primary" value="post">     
         </div>
    </form>

         {% if hello_list %}
             {% for a in hello_list %}
             <h1>
                 {{ a.text }}
             </h1>
             {% endfor %}
         {% endif %}
     </div>





{% endblock %}