{% extends 'base.html' %}




{% block content %}



    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>










    {% if not target_kcal.kcal %}


        <a href="{% url 'kcalculatorapp:create' %}">
            <h2 style="font-family: ONE-Mobile-POP;text-align: center;">
                Create Kcal
            </h2>
        </a>
    {% else %}





        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

        <figure class="highcharts-figure">
            <div id="container"></div>
            <p class="highcharts-description">
            </p>
        </figure>

    {% endif %}






    <script>
        kcal_list = []
        if ('{{ target_kcal.kcal.goal }}' == 'lean') {
            for (let i = 0; i < 13; i++) {
                kcal_list.push(Math.round(((({{ target_kcal.kcal.weight }}  -(- {{ target_kcal.kcal.speed }} / 7000)*30 * i) ) + Number.EPSILON) * 100) / 100)
            }
        }


        else {
            for (let i = 0; i < 13; i++) {
                 kcal_list.push(Math.round(((({{ target_kcal.kcal.weight }}  -( {{ target_kcal.kcal.speed }} / 7000)*30 * i) ) + Number.EPSILON) * 100) / 100)
                }
        }






        Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            title: {
                text: '체중 예상 그래프'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: ['Start', '1m', '2m', '3m', '4m', '5m', '6m', '7m', '8m', '9m', '10m', '11m','1Year']
            },
            yAxis: {
                title: {
                    text: 'Weight (Kg)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },



            series: [{
                name: '{{ target_kcal.profile.nickname }}',
                data: kcal_list
            }]
        });
    </script>



{% endblock %}