


    <div class="breadgrow_header">

        <div>
            <h1 class="breadgrow_logo">차근차근 빵 키우기</h1>
        </div>
        <div>

            <span>Kcalculator</span>
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{  request.path }}">
                <span>Login</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                <span>Mypage</span>
            </a>
            <a href="{% url 'accountapp:logout' %}?next={{  request.path }}">
                <span>Logout</span>
            </a>
            {% endif %}
            <span>Kcalculator2</span>
        </div>

    </div>